  body {
    font-size: 14pt;
    font-family: 'PT Sans', sans-serif;
  }
  h3 {
    color: #222262;
    font-size: 75%;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
  }
  p {
    margin-left: 1rem;
    font-size: 75%;
    margin-bottom: 0.5rem;
  }
  ol {
    margin-bottom: 0.5rem;
    font-size: 75%;
  }
  ul {
    font-size: 75%;
  }
  .line-list > li {
    display: inline;
    list-style-type: none;
    margin-left: 1rem;
  }
  .column-list > li {
    list-style-type: none;
    margin-left: 0px;
  }
  .highscores > ol > li {
    margin-bottom: 0.5rem;
  }
  hr {
    border: solid #dddddd;
    border-width: 1px 0 0;
    clear: both;
    margin: 1.25rem 0 1.1875rem;
    height: 0; 
  }
  .label {
    padding: 0.15rem 0.15rem 0.15rem 0.15rem;
    font-weight: bold;
    background-color: rgb(220, 220, 255);
    color: rgb(0, 0, 80);
  }
  .expander {
    color: rgb(128, 0, 128);
    cursor: pointer;
  }
  .highscores {
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    background-color: rgb(240, 240, 250);
  }
  body {
    margin: 0px;
    padding: 0px;
  }
  .row {
    clear: both;
    float: left;
  }
  .required-right {
    float: left;
    width: 740px;
    padding: 5px;
  }
  .optional-left {
    float: left;
    width: 230px;
    min-height: 1px;
  }
  @media (max-width: 980px) {
    .optional-left {
      display: none;
    }
    .required-right {
      width: 100%;
    }
  }
