[Unit]
Description=Generate incavead highscore table

[Timer]
OnBootSec=1m
OnUnitActiveSec=1m
Unit=incavead_make_highscore.service

[Install]
WantedBy=multi-user.target
